<section class="card">
  <div class="card-body">
    <h1 style="text-align: center;">About</h1>
    <p style="text-align: justify;">
      Somos un equipo conformado por un conjunto de estudiantes de la carrera de Sistemas 
Computacionales del Tecnologico de la Laguna. <br><br>
      BookApp es una pagina web en la podemos crear rese침as y/o comentarios acerca de cualquier
      libro, una Biblioteca digital. <br><br>
      Esto fue con el prop칩sito de promover la lectura y crear una comunidad en la que se puedan compartir 
      opiniones de libros o conocer otros, adentrarnos en diferentes generos, divulgar informacion y sobre 
      todo compartir experiencias y/o ense침anzas a traves de la lectura. <br><br>
Esta p치gina web fue desarrollada para la mplementacion de MEVN, esto, a traves de la clase de Full Stack 1
    </p>
    <br><br>
    <div style="text-align: center;">
          <img src="../../img/imgabout.png">
    </div>
  </div>
</section>
