<div class="card card-body p-5 mt-4">
  <h1 style="text-align:center;" class="display-4">Libros con aroma de café</h1>
  <p class="lead" style="text-align: center;">Biblioteca digital creada para 
    brindar reseñas de libros, esto con el fin de crear una comunidad donde podamos hablar sobre libros y
    promover la lectura.</p>
  <hr class="my-4" />
  <p style="text-align: center;"> " Un libro es una aventura esperando quien la emprenda. <br>
  Sólo asómate a su senda, la recompensa es segura. <br>
  Gozarás de la lectura, lograrás esparcimiento.<br>
  El libro es el fundamento que nos da sabiduria y nos llena de alegría, es
  del alma el alimento. "
  </p>
 <div style="text-align: center;">
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Register</a>
  </div>
 <hr class="my-4" />
 
  <br>
  <h4 style="text-align: center;">Populares</h4>
<!-- Gallery --> <!-- src="../../img/fantasia.png"-->
 
<!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="../../img/fantasiafondo.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />

    <img
      src="../../img/fantasia.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="../../img/terror.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Mountains in the Clouds"
    />

    <img
      src="../../img/terrorfondo.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="../../img/romancefondo.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />

    <img
      src="../../img/romance.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
  </div>
</div>
<!-- Gallery -->

</div>
